@import '../../../assets/styles/vars';

.header {
  padding: 0;
  margin: 0;
  min-height: $header-height;
  background-color: $color-light;
}
.brand {
  width: $sidebar-width;
  background-color: $accent-color;
  height: $header-height;
  padding: 20px 25px;
  font-weight: 400;
  letter-spacing: 5px;
  color: $color-light;
  &hover {
    color: $color-light;
    background-color: $accent-color;
  }
  .subBrand {
    letter-spacing: normal;
    float: right;
    font-size: 12px;
    margin-left: -15px;
    color: $accent-color-light;
  }
}

.leftNavToggle {
  float: left;
}
.title {
  float: left;
}
.headerNav {
  float: right;
}
