$font-stack:    Helvetica, sans-serif;
$accent-color: #f6a821;
$accent-color-light: #fce2b4;

$main-color: #2f323b;
$main-color-dark: #24262d;
$main-color-light: #949ba2;
$color-light: #ffffff;
$header-height: 60px;
$sidebar-width: 200px;
